/**
	Includes the colors
 */

$color-dark: #191e24;
$color-light: #dadee5;

// colors
$color-purple: #2e1098;
$color-blue: #005ECD;
$color-red: #c5013a;
$color-yellow: #FFA900;
$color-green: #159F52;

$color-header-bg-1: #7d64fc;
$color-header-bg-2: #9052fd;
$color-header-bg-3: #a16ff9;
