@import 'src/assets/styles/mixins';

.alert-contaıner {
    padding: 5px 10px;
}
.company-btn {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    padding: 10px 15px;

    &:hover {
        background-color: rgba($color-dark, 0.05);
        .theme-dark & {
            background-color: rgba($color-light, 0.05);
        }
    }
    .symbol {
        font-size: 18px;
    }
    .separator {
        margin: 0 15px;
        height: 15px;
        border-right: 1px solid rgba($color-dark, 0.4);
        .theme-dark & {
            border-right-color: rgba($color-light, 0.3);
        }
    }
    .company {
        flex-grow: 1;
    }
    .fav-icon {
        font-size: 18px;
    }
}
