@import '../../../assets/styles/mixins';

.theme-switcher {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    &-text {
        cursor: pointer;
        display: none;
        margin-left: 15px;
        color: rgba($color-light, 0.8);
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
    &-icon {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
    .pin {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color-dark, 0.1);
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 34px;
        &:before {
            border-radius: 50%;
            position: absolute;
            content: '';
            height: 40px;
            width: 40px;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
            transition: transform 0.3s ease-in, background 0.3s linear;
            box-shadow: 0 0 10px rgba($color-dark, 0.2);
            background: #fff url('../../../assets/images/theme-dark.svg') no-repeat center 50% / 50%;
            .theme-dark & {
                background-color: mix($color-light, $color-dark, 80%);
            }
        }
    }

    input {
        &:checked + .pin {
            background-color: $color-blue;
        }
        &:checked + .pin:before {
            transform: translateX(24px);
            background: #fff url('../../../assets/images/theme-light.svg') no-repeat center 50%/50%;
            .theme-dark & {
                background-color: $color-light;
            }
        }
    }
}
